*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
    box-shadow: 0.1vmax 0.5vmax whitesmoke;
}
.headbox{
    height: 4vmax;
    width: 100%;
    background-color: white;
    padding: 1vmax;
    display: flex;
    justify-content: space-around;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.googleicon{
    background-image: url("googleicon1.PNG");
    height: 2vmax;
    width: 8vmax;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.googleforsmall{
    display: flex;
}
.forsmall{
    font-size:2vmax;
    color:black;
}
.essential{
    font-size: 1.3vmax;
    color:black;
    padding:3vmax;
    
}
.essential:hover{
    color:brown;
    cursor: pointer;
}
.essentials{
    font-size: 1.3vmax;
    color:black;
    padding:1vmax;
    margin-left: 3vmax;
}
.essentials:hover{
    color:brown;
    cursor: pointer;
}
.goindepth{
    font-size: 1.3vmax;
    color:black;
    justify-content: space-around;
    
}
.goindepth:hover{
    color:brown;
    cursor: pointer;
}
.goindepths{
    font-size: 1.3vmax;
    color:black;
    padding:1vmax;
    margin-bottom: 1vmax;
    display: block;
}
.goindepths:hover{
    color:brown;
    cursor: pointer;
}
.explorelessons:hover{
    color: brown;
    cursor: pointer;
}
.explorelessons{
    font-size: 1.3vmax;
    color:black ;
}
.gettheessentialsbg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gettheessentialsbox{
    font-size: 1.3vmax;
    color: white;
    background-color: blue;
    height: 3vmax;
    width: 14vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gettheessentialsbox:hover{
    background-color: rgb(65, 65, 252);
    cursor: pointer;
    transform: scale(1.1);
}

ul{
    list-style: none;
    background-color: white;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 1vmax;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.3vmax;
}
li ul.dropdown li{
    display: block;
}
li ul.dropdown{
    width: 15vmax;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background-color: white;
    color:brown;
    cursor: pointer;
}
 li:hover ul.dropdown{
    display:block;
    border: 0.1vmax solid grey;
    border-radius: 0.5vmax;
}
nav{
    display: flex;
    background: white;
    padding:0.5vmax 2vmax;
}

nav a{
    color:black;
}
nav a:hover{
    color:green;
}
.logo{
    flex:1;
}
.logo a{
    flex:center;
    align-items: center;
    font-size: 1.3vmax;
}
.logo a:hover{
    color:brown;
}
.logo img{
    width: 8vmax;
    height: 2vmax;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.menudesign{
    justify-content: space-evenly;
}

.toggle{
    display: none;
}
.menubar i{
    display: none;
}

@media screen and (max-width:705px) {
    nav{
        display: block;
        position: relative;
    }
    
    .menu{
        display: none;
    }
    .toggle{
        display: block;
    }
    .menubar i{
    display:inline;
    cursor: pointer;
    }
    .navsmall{
        display: flex;
    }
    .logo{
        display: flex;
        
        align-items: center;
    }
    .menubar i:hover{
        color:green;
    }
    
}


.navsmalls{
    display: flex;
    align-items: center;
}
    

.logo{
    display: flex;
    width:21.8vmax;
    align-items: center;
}
.forsmall{
    font-size: 1.7vmax;
}
.logos{
    display: flex;
}
.logos img{
    display: flex;
    align-items: center;
    width: 8vmax;
    height: 2vmax;
}
.forsmalls{
    font-size: 1.7vmax;
}
.goindepths  li{
    display: block;
    margin-left: 4vmax;
}
.learnbasics{
    font-size: 1.3vmax;
    font-family: sans-serif;
    padding:2vmax;
    margin-top: 10vmax;
}
.getessentbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gettheessentialsboxs{
    font-size: 1.3vmax;
    color: white;
    background-color: blue;
    height: 3vmax;
    width: 14vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vmax;
}
.gettheessentialsboxs:hover{
    background-color: rgb(65, 65, 252);
    cursor: pointer;
    transform: scale(1.1);
}

.explorelessonss:hover{
    color: brown;
    cursor: pointer;
}
.explorelessonss{
    font-size: 1.3vmax;
    color:black ;
    margin-left: 4vmax;
}
.navbox{
    width: 25vmax;
    height: 100%;
    padding: 1vmax;
    border:0.1vmax solid black;
    display: none;    /* navbox menu here*/
}
.menubar i:hover{
    transition:all 0.3s linear;
    .navbox{
        margin-right: 25vmax;
        width: 25vmax;
        height: 100%;
        padding: 1vmax;
        border:0.1vmax solid black;
    }
}
.learningecom{
    font-size: 1vmax;
    font-family: sans-serif;
    margin-top:2vmax ;
    margin-left: 10vmax;
}
.learn{
    color:blue;
}
.learning{
    display: flex;
}
.learn:hover{
    cursor: pointer;
    color:black;
}

